<h1>All Items for <%= current_user.name %></h1>

<%= form_for [@user, @item] do |f| %>
   <div class="form-group">
     <%= f.label :title %>
     <%= f.text_field :title, class: 'form-control', placeholder: "Enter you task." %>
   </div>
   <div class="form-group">
     <%= f.submit "Save", class: 'btn btn-success' %>
   </div>
 <% end %>

<div class="row">
  <table class="table-striped">
  <tr>
    <th class="text-center">ID</th>
    <th>Title</th>
    <th>Remaining</th>
    <th class="text-center">Status</th>
  </tr>
  <% @items.each do |item| %>
      <tr>
        <td class="text-center"><%= item.id %></td>
        <td><%= item.title %></td>
        <td><%= item.created_at %></td>
        <td>
          <button type="button" class="btn btn-default btn-md center-block">
            <span class="glyphicon glyphicon-ok"></span> Complete
          </button>
        </td>
      </tr>
  <% end %>
  </table>
</div>



